.back-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem 0 2rem;
}

.back-button-container a {
    color: #fff;
    background-color: #C4942F;
    padding: 0.7rem 2rem;
    border-radius: 27px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
}



.add-car-container {
    background: #ffffff;
    margin: 0 2rem 2rem 2rem;
    padding: 2rem;
    border-radius: 27px;
    overflow-y: auto;
    max-height: 80%;
    box-shadow: var(--shadow);
}


.add-car-container h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.add-car-container label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 27px;

}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"],
select {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 17px;
}

#submit-button {
    color: #fff;
    background-color: #C4942F;
    padding: 0.5rem 2rem;
    border-radius: 27px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin: 1rem 0 0 0;
}








/* Style for the input field */
.add-photos-input {
    display: none;
}

.add-photos-label {
    top: 150px;
    font-family: calibri;
    width: 150px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    background-color: #C4942F;
    cursor: pointer;
    color: #ffff;

}

.add-photos-label:hover {
    background-color: #C4942F;
}

/* Style for the selected file name */
.file-name {
    font-size: 14px;
    margin-top: 10px;
}

/* Style for displaying selected photos */
.selected-photos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.selected-photo {
    margin: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.selected-photo img {
    max-width: 100px;
    max-height: 100px;
}