:root {
    --shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

.Account-Content {
    background-color: #ffffff;
    box-shadow: var(--shadow);
    border-radius: 21px;
    padding: 2rem;
    display: flex;
    margin: 2rem 2rem 2rem 2rem;
    flex: 1;
}

#line {
    width: 2px;
    background-color: #F4F4F4;
}

.Account-Links {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.Account-Links a {
    padding: 1rem 0 1rem 1rem;
}

#selected {
    background-color: #29292978;
}

.right-side-panel {
    padding: 0rem 2rem;
    width: 100%;
}

.MyPassword {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MyPassword h3 {
    font-size: 2rem;
    font-weight: 600;
}

#AccountSettings {
    font-size: 2rem;
    font-weight: 600;
}

.PersonalInforamtion {
    background-color: #F4F4F4;
    margin: 1rem 0 0 0;
    padding: 1rem;
    border-radius: 17px;
}

.changingPassword-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    font-size: 1.5rem;
}

.changingPassword-button button {
    background-color: #c8943b;
    border: none;
    border-radius: 27px;
    color: #F4F4F4;
    width: 6rem;
    padding: .5rem 0;
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}



.certain-password,
.confraim-Password {
    display: flex;
    flex-direction: column;
}

.confraim-Password {
    margin-top: .5rem;
}

.certain-password p,
.confraim-Password p {
    margin: .5rem 0 1rem 0;
}

.changingPassword input[type=text] {
    width: 45%;
    padding: 10px 10px;
    border: solid #c8943b 2px;
    border-radius: 10px;
    margin: 0.5rem 0;
}

.sendButton {
    text-align: end;
    display: none;
}

.confraim-Password button {
    background-color: #c8943b;
    border: none;
    border-radius: 27px;
    color: #F4F4F4;
    width: 6rem;
    padding: .5rem;
    font-size: 1.1rem;
    cursor: pointer;
}





@media screen and (max-width: 840px) {
    .Account-Content {
        flex-direction: column;
    }

    .Account-Links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .Account-Links a {
        width: 100%;
    }

    .right-side-panel {
        padding: 0rem;
        width: 100%;
    }

    .PersonalInforamtion input[type=text] {
        width: 95%;
    }

    #line {
        width: 100%;
        background-color: #292929;
        height: 2px;
        margin: 0 0 2rem 0;
    }
}