.lead-type-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem;
}

.lead-type-buttons {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: var(--shadow);
    padding: 0.75rem;
    border-radius: 99px;
}

.lead-type-buttons * {
    z-index: 2;
}

input[type=radio] {
    display: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: 200px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}

input[type=radio]:checked+label {
    color: #292929;
}



input[id=radio-1]:checked~.glider {
    transform: translateX(0);
}

input[id=radio-2]:checked~.glider {
    transform: translateX(100%);
}

input[id=radio-3]:checked~.glider {
    transform: translateX(200%);
}

.glider {
    position: absolute;
    display: flex;
    height: 37px;
    width: 200px;
    background-color: #cd95446e;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}







#new-lead-p {
    margin: 0 3rem;
    font-size: 30px;
    font-weight: 500;
}

#choose-type {
    margin: 9rem;
    font-size: 51px;
    font-weight: 500;
}

.choose-type-div {
    display: flex;
    justify-content: center;
}



/* Style the trip-inputs-container */



/* Style for form elements */
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="number"],
form input[type="date"],
form select,
form textarea {
    width: 95%;
    max-width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 17px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 27px;
}

form select {
    height: 40px;

}

form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 1rem 0 1rem 0;

}

.label-container {
    display: flex;
    margin: 1rem 1rem 1rem 0 !important;
}

.label-container label {
    margin: 0 1rem 0 0 !important;
    font-weight: bold;
    border-radius: 27px;
}

.submit-button {
    color: #fff;
    background-color: #C4942F;
    padding: 0.5rem 2rem;
    border-radius: 27px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin: 1rem 0 0 0;
}



.public-trip-inputs-container,
.private-trip-inputs-container,
.car-rentel-inputs-container {
    overflow-y: scroll;
    padding: 20px;
    max-height: 26rem;
    border-radius: 27px;
    margin: 2rem 2rem 0px 2rem;
    min-height: 10rem;
    background-color: #ffffff;
}